{
    "parser": "babel-eslint",
    "extends": "airbnb-base",
    "rules": {
        "indent": ["warn", 4],
        "comma-dangle": ["warn", "never"],
        "no-var": ["off"],
        "no-use-before-define": ["off"],
        "no-param-reassign": ["off"]
    },
    "env": {
        "node": true,
        "mocha": true
    }
}
