{
    "parser": "babel-eslint",
    "extends": "airbnb-base",
    "rules": {
        "indent": [1, 4],
        "comma-dangle": [1, "never"],
        "no-var": [0],
        "no-use-before-define": [0],
        "no-param-reassign": [0],
        "no-underscore-dangle": [2, { "allowAfterThis": true }],
        "import/no-extraneous-dependencies": [0]
    },
    "env": {
        "node": true,
        "mocha": true,
        "browser": true
    }
}
