:root {
    font-size: 16px;
}
html, body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    background: #F2F2F2;
    color: #666;
    font-family: sans-serif;
}
#wrapper {
    padding: 1rem;
}
.controls {
    padding: 1rem;
    background: rgba(255,255,255,0.8);
    border-radius: 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
}
.container {
    overflow: hidden;
    background: white;
    border-radius: 0.125rem;
    border: 0.0625rem solid #DDD;
}
.container > div {
    float: left;
    width: 50%;
    overflow: hidden;
    height: 40vh;
    box-sizing: border-box;
}
.container > div + div {
    border-left: 0.0625rem solid rgba(0,0,0,0.1);;
}
.container > .horizontal {
    overflow-x: scroll;
}
.container > .vertical {
    overflow-y: scroll;
}
.contained {
    opacity: 0;
    white-space: normal;
    padding: 2rem;
    color: rgba(255,255,255,0.75);
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: opacity 500ms, transform 500ms;
    -moz-transition: opacity 500ms, transform 500ms;
    transition: opacity 500ms, transform 500ms;
}
.horizontal {
    font-size: 0;
    white-space: nowrap;
}
.horizontal .contained {
    font-size: 1rem;
    display: inline-block;
    width: 40%;
    height: 100%;
    -webkit-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    transform: translate(0, 50%);
}
.horizontal .contained + .contained {
    border-left: 0.0625rem solid rgba(0,0,0,0.05);
}
.vertical .contained {
    height: 60%;
    -webkit-transform: translate(50%, 0);
    -moz-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    -o-transform: translate(50%, 0);
    transform: translate(50%, 0);
}
.vertical .contained + .contained {
    border-top: 0.0625rem solid rgba(0,0,0,0.05);
}
.contained.onScreen {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.contained.onScreen:nth-child(1) {
    background-color: #F44336;
}
.contained.onScreen:nth-child(2) {
    background-color: #E91E63;
}
.contained.onScreen:nth-child(3) {
    background-color: #9C27B0;
}
.contained.onScreen:nth-child(4) {
    background-color: #673AB7;
}
.contained.onScreen:nth-child(5) {
    background-color: #3F51B5;
}
.contained.onScreen:nth-child(6) {
    background-color: #2196F3;
}
.contained.onScreen:nth-child(7) {
    background-color: #009688;
}
.contained.onScreen:nth-child(8) {
    background-color: #8BC34A;
}
.pusher {
    padding: 1rem 0;
    height: 50vh;
}
.target {
    background: #555;
    color: #F2F2F2;
    opacity: 0;
    height: auto;
    padding: 1.5rem;
    line-height: 1.5rem;
    overflow: visible;
    -webkit-transition: opacity 500ms, transform 1s;
    -o-transition: opacity 500ms, transform 1s;
    transition: opacity 500ms, transform 1s;
    -webkit-transform: translate(0, 2rem);
    -ms-transform: translate(0, 2rem);
    transform: translate(0, 2rem);
}
.target.onScreen {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.target:nth-of-type(even) {
    background: #666;
}
.target + .target {
    margin-top: 1rem;
}
